* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #b91450;
}

/* section > div {
    min-height: 190px;
} */

.ms_border_input {
    border:1px solid #b91450 ;
}

#price-calculator > div {
    min-height: 190px;
}

#price-calculator span {
    color:#b91450;
    font-weight: 600;
}

#price-calculator button {
    background-color: #cccccc;
    color:#b91450;
    font-weight: 700;
}

#your-ticket > div {
    min-height: 175px;
    }


#your-ticket .col-2, #your-ticket .col-3 {
min-height: 100px;
}